<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="filePath" value="C:\Users\andre\Desktop\Proiect Danciu\Turneu\TournamentTracker\files"/>
    
  </appSettings>
  
  <connectionStrings>

    <add name="Tournament" connectionString="Server=DESKTOP-RMK4CA9\ANDREI;Database=Tournament;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>